.type-4 .nav-right-menu ul {
  list-style: none;
  padding-left: 0;
  position: relative;
}
.type-4 .nav-right-menu ul li {
  padding-right: 10px;
  padding-left: 10px;
  float: left;
}
.type-4 .nav-right-menu ul li:hover a {
  color: red;
}
.type-4 .nav-right-menu ul li .nav-menu {
  padding-left: 0;
  position: absolute;
  left: 0;
  visibility: hidden;
  background-color: white;
  border: 1px solid #ccc;
}
.type-4 .nav-right-menu ul li .nav-menu a {
  color: #000 !important;
}
.type-4 .nav-right-menu ul li .nav-menu li {
  display: block;
  float: unset !important;
  padding-top: 10px;
  padding-bottom: 10px;
}
.type-4 .nav-right-menu ul li .nav-menu li:hover a {
  color: red !important;
}
.type-4 .nav-right-menu ul li:hover .nav-menu {
  visibility: visible;
  background-color: white;
}
.type-4 .nav-right-menu ul a {
  text-decoration: none;
  color: #000;
  background-color: white;
}
.type-4 .adudu-row {
  margin-top: 30px;
  border-top: 1px solid #e0d3d3;
  border-bottom: 1px solid #e0d3d3;
  padding-bottom: 76px;
}
.type-4 .img-mm {
  width: 100%;
  height: 76px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.type-4 .form-search-custom {
  position: relative;
}
.type-4 .form-search-custom .row {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.type-4 .form-search-custom .row .form-input input:focus,
.type-4 .form-search-custom .row .form-input button:focus {
  outline: none;
}
.type-4 .form-search-custom .row .form-input input {
  width: 80%;
}
.type-4 .form-search-custom .row .form-input button {
  width: 20%;
}
.type-4 .form-search-custom .in-input {
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  left: 60%;
  text-decoration: none;
}
.type-4 .form-search-custom .in-input a {
  position: relative;
}
.type-4 .form-search-custom .in-input::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 2px;
  left: -10px;
  background: #ccc;
}
.type-4 .form-search-custom .in-input::after {
  content: 'v';
  position: absolute;
  background-color: white;
  color: #dacaca;
  top: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.5px solid #ccc;
  border-radius: 100%;
  left: -9.5px;
  height: 15px;
  width: 15px;
}
.type-4 .form-search-custom .in-input .nav-menu {
  position: absolute;
  list-style: none;
  padding-left: 0;
  background: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  visibility: hidden;
  transition: all ease-in .2s;
  opacity: 0;
}
.type-4 .form-search-custom .in-input .nav-menu li a {
  white-space: nowrap;
}
.type-4 .form-search-custom .in-input:hover .nav-menu {
  visibility: visible;
  opacity: 1;
}
.type-4 .ipt-css {
  border: 1px solid red;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-left: 10px;
  width: 200px;
}
.type-4 .btn-seach {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid red;
  background-color: red;
  width: 103px;
  color: white;
}
.type-4 .ctn2 {
  margin-top: 10px;
  border-top: 1px solid #e0d3d3;
  border-bottom: 1px solid #e0d3d3;
}
.type-4 .adu-cts {
  text-decoration: none;
  color: #dbcccc;
}
.type-4 .fawpro {
  font-size: 23px;
}
.type-4 .addad {
  padding-left: 20px;
  margin-top: 10px;
  color: #867b7b;
}
.type-4 .fawpro {
  list-style: none;
}
.type-4 .fawpro li {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
.type-4 .fawpro li a {
  text-decoration: none;
  color: black;
}
.type-4 .fawpro li a:hover {
  text-decoration: none;
  color: #d10000;
}
.type-4 .fawpro li i {
  display: block;
}
.type-4 .fawpro li:hover i {
  color: yellow;
}
